GPUtil==1.4.0
altgraph==0.17.5
certifi==2025.11.12
charset-normalizer==3.4.4
customtkinter==5.2.2
darkdetect==0.8.0
distro==1.9.0
idna==3.11
numpy==2.4.0
packaging==25.0
pefile==2024.8.26
psutil==7.2.0
pygame==2.6.1
pyinstaller-hooks-contrib==2025.11
pyinstaller==6.17.0
pyperclip==1.11.0
pywin32-ctypes==0.2.3
requests==2.32.5
setuptools==80.9.0
urllib3==2.6.2
winotify==1.1.0
